@font-face{
	font-family: 'Century Gothic';
	src: url(../fonts/GOTHIC.TTF);
}
@font-face{
	font-family: 'Impact';
	src: url(../fonts/18569.ttf);	
}
html{
	scroll-behavior: smooth;
}
html.lock{
	overflow: hidden;	
}
html.lock main,html.lock footer,html.lock .ring{
	filter:blur(3px);
}
body{
	height: 100%;
	font-family: 'Century Gothic';
	color: black;
	text-align: justify;
	position: relative;	
}
@media (max-width: 1200px){
	body{font-size: 80%;}
}
header{
	background-color: black;
	position: fixed;
	width: 100vw;
	height: 55px;	
	z-index: 2;
}
section{		
	min-height:100vh;
	padding-top: 8vh;    
}
@media (max-width: 768px){
	section{padding-top: 12vh;}
}	
h1,h2,h4{
	font-family: 'Impact';
	text-transform:uppercase;
	transition:all 1.5s ease;
}
h1._anim-items,h2._anim-items,h4._anim-items{
	transform: translate(0px,120%);
	opacity: 0;	
}
h1._active,h2._active,h4._active{
	transform: translate(0px,0px);
	opacity: 1;
}
h1{
	font-size: 3em;
}
h2{
	font-size: 3em;
	text-align: center;	
	padding-bottom:15px;	
}
@media (max-width: 768px){
	h2{font-size: 2em;}
}	
h3{ font-family: 'Impact';
	text-transform:uppercase;
	font-size: 3.8em;
	color: #7a7a7a;
	text-align: center;
}
h4{	font-size: 1.5em;
}
a{
	text-decoration: none;
	color: inherit;
	/*cursor: url(../img/#);*/
}
span{
	padding:0 10px;
	font-size: 1.5em;
	color:#4fb0cd;
}
button, .btn{	
	text-transform:uppercase;
	font-size: 1.1em;
	font-family: 'Century Gothic';
	color: white;
	border-radius: 20px;
	background-color:#e31f1b;
	border:none;
	padding: 10px 30px;
	outline: none;
	transition: all 0.5s ease;

}
button:hover, .btn:hover{
	background-color:#e48a88!important;
	transition: all 0.5s ease 0s !important;	 
}
input,textarea{
	width: 100%;
	border-radius: 20px;
	border:1px solid #edeeef;
	margin:5px 0;
	padding: 10px 30px;
	outline: none;
}
i{
	padding-right: 5px;
	font-size: 80%;
}
footer{
	background-color:black;
	color:white;
	padding:10px 0;
}
.container{
	max-width: 1800px;
	margin:0 auto;
}
@media (max-width: 1850px){
	.container{max-width: 95vw;}
}
/*MENU*/
.nav-menu{
	display: flex;	
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;	
	padding: 5px 0;	
}
@media (max-width: 1200px){
	.nav-menu{padding:0;}
}
.logo-container a{	
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
}
.logo-container img{
	max-height: 45px;
}
.logo-name{
	width: 70%;	
	display: flex;
	align-items: center;	
}
.logo-anim{
	width: 30%;
	display: flex;
	align-items: center;	
}
.contacts-menu{
	display: flex;
	flex-flow: row nowrap;
	width: 45%;
	justify-content: flex-end;
	align-items: center;
}
.phone{	
	display: block;
	text-align: right;
	font-size: 1.2em;
	color: white;
	padding: 0 10px;
	transition:	all 0.3s ease;
}
.phone:hover{
	color: #8dbedb;
}
.question{	
	display: block;
	text-align: right;
	max-width: 50%;
	padding: 0 10px;
}
.menu{
	display: flex;
	flex-flow: row nowrap;
	width: 40%;
	padding: 0 4vw 0 0;
	justify-content: space-between;
	transition:	all 0.8s ease;
	z-index: 999;
}
#menu-burger{
	display: none;
	padding-top:8px; 
}
#burger{
  display: none;  
}
.burger-label{
  position: relative;
  width: 50px;
  height: 40px;
  display: inline-block;
  margin-top:8px;  
  -webkit-transition: all .5s;
  transition: all .5s;
  text-align: left;
}
.burger-label div,
.burger-label div:before,
.burger-label div:after {
  background:white;
  position: absolute;
  height: 5px;
  width: 50px;
  border-radius: 4px;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.burger-label div:first-child {
  top: 0px;
}
.burger-label div:nth-child(2) {
  top: 10px;
}
.burger-label div:nth-child(3) {
  top: 20px;
}
#burger + .burger-label div {
  -webkit-transition: top .15s .17s, -webkit-transform .12s .033s;
  transition: top .15s .17s, -webkit-transform .12s .033s;
  transition: top .15s .17s, transform .12s .033s;
  transition: top .15s .17s, transform .12s .033s, -webkit-transform .12s .033s;
}
#burger + .burger-label div:nth-child(3) {
  -webkit-transition: top .15s .17s, -webkit-transform .17s;
  transition: top .15s .17s, -webkit-transform .17s;
  transition: top .15s .17s, transform .17s;
  transition: top .15s .17s, transform .17s, -webkit-transform .17s;
}

#burger:checked + .burger-label div {
  top: 10px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: top .1s, -webkit-transform .12s .1s;
  transition: top .1s, -webkit-transform .12s .1s;
  transition: top .1s, transform .12s .1s;
  transition: top .1s, transform .12s .1s, -webkit-transform .12s .1s;
}
#burger:checked + .burger-label div:nth-child(3) {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-transition: top .1s, -webkit-transform .17s .1s;
  transition: top .1s, -webkit-transform .17s .1s;
  transition: top .1s, transform .17s .1s;
  transition: top .1s, transform .17s .1s, -webkit-transform .17s .1s;
}
.menu-items{
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	width: 100%;
	margin-right: 20px;
}
.menu-item{
	font-size: 1.1em;
	color:white;	
	transition: all 0.5s ease;
	position: relative;
	margin: 0 15px;
}
.menu-item.not-necessary{
		display: none;
}
.menu-item a::before{
	content: '';
	bottom: 0;
	left: 0;
	position: absolute;
	width:100%;
	height: 2px;
	background-color: white;
	transition: 0.2s;
	transform: scaleX(0);
}
.menu-item a:hover:before{	
	transform: scaleX(1);
}
.header-contacts{
	display: none;
}
.phone-mobile,.question-mobile{
	display: none;
}
@media (max-width: 1200px){	
	.header-contacts{
		display: flex;
		color: white;
		width: 100%;
	}
	.header-contacts .contacts{
		padding:3vw;
		display: flex;
		flex-flow: column; 		
	}
	#menu-burger{
		display:inline-flex;
	}		
	.menu{
		position: fixed;		
		background-color:rgba(0, 0, 0, 0.9);
		top:55px;
		width: 100%;
		right: -100%;		
		height: 100%;
		padding: 0;	
	}
	.menu.active{		
		right: 0;
	}
	.menu-items{
		justify-content: center;
		text-align: center;
		flex-flow: column nowrap;
		font-size: 1.3em;
		padding: 10px 30px;
		margin-right: 0;
		align-items: center;
	}
	.menu-item{
		margin: 2vh;		
		font-size: 120%;
		/*	*/
	}
	.menu-item.not-necessary{
		display: block;
	}
	.header-contacts .contacts{
		width: 100%;
		text-align: center;
	}
	.header-contacts .icons{
		align-items: center;
		display: flex;
		justify-content: center;
	}
	.contacts-menu{
		width: 75%;
	}
}
@media (max-width: 768px){	
	.phone,.question{
		display: none;		
	}	
	.phone-mobile,.question-mobile{
		display: block;
		color: white;
		font-size: 40px;
		padding-right: 15px;
		margin-top: -9px;
	}	
	.menu-items{
		justify-content: flex-start;;
	}
	.menu-item{
		padding:3vh;
	}
	.header-contacts{
		font-size: 80%;			
	}
}	




/*SECTION GENERAL*/
.general{
	background-image: url(../img/background_section_general.jpg);	 
	background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0;  
    position: relative;
	z-index:1; 
}
.text-general{
	text-align: center;
	padding-top:30vh;
}
@media (max-width: 768px){
	.text-general{padding-top:20vh;}
}
.vygoda{
	display: inline-block;
	max-width: 600px;	
	font-size: 1.2em;
	padding: 20px 0 20px;
	transform: translate(0px,120%);
	opacity: 0;
	transition:all 0.8s ease 0.5s;
	text-transform: uppercase;	
}
@media (max-width: 768px){
	.vygoda{max-width: 400px;}
	.span{padding: 30px;
}
}
.vygoda._active{
	transform: translate(0px,0px);
	opacity: 1;
}
.vygoda:after {
  content: '';
  display: table;
  clear: both;
}
.frame, .frame>.span{
  position: relative;
  color: inherit;
  text-decoration: none;
  line-height: 24px;
  font-weight: 900; 
  background-color: rgba(255,255,255,0.2); 
}
.span{
	padding: 50px;
}

.frame:before, .frame:after, .frame > .span:before, .frame> .span:after {
  content: '';
  position: absolute;
  transition: transform .5s ease 2s;
}
.effect-5 {
  display: inline-block;
  overflow: hidden;
}
.effect-5:before, .effect-5:after {
  right: 0;
  bottom: 0;
  background: black;
}
.effect-5:before {
  width: 100%;
  height: 2px;
  transform: translateX(-100%);
}
.effect-5:after {
  width: 2px;
  height: 100%;
  transform: translateY(100%);
}
.effect-5 > span {
  display: block;
  padding: 10px;
}
.effect-5 > .span:before, .effect-5 > .span:after {
  left: 0;
  top: 0;
  background: black;
}
.effect-5 > .span:before {
  width: 100%;
  height: 2px;
  transform: translateX(100%);
}
.effect-5 > .span:after {
  width: 2px;
  height: 100%;
  transform: translateY(-100%);
}
.vygoda._active .effect-5:before, .vygoda._active .effect-5:after, .vygoda._active .effect-5 > .span:before,.vygoda._active .effect-5 > .span:after {
  transform: translate(0, 0); 
}
#btn-zakaz._active{
	transform: translate(0px,0px);
	opacity: 1;
}
#btn-zakaz{
	display: inline-block;
	background: #e31f1b;
	color:white;
	transform: translate(0px,120%);
	opacity: 0;
}
#btn-zakaz._active{
	transform: translate(0px,0px);
	opacity: 1;
	transition: all 0.8s ease 1.3s;
}

/*SECTION ABOUT_US*/

.text-about-us>p{
	padding: 2vh 0 2vh;
	transform: translate(0px,120%);
	opacity: 0;
	transition: all 0.8s ease;
}
.text-about-us>p._active{
	transform: translate(0px,0px);
	opacity: 1;
}
.cards{
	display: flex;
	flex-flow: row nowrap;	
	justify-content: space-between;	
}
.card{
	background-color:#edeeef;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 32%;
	transform: translate(0px,40%);
	opacity: 0;
	transition: all 0.8s ease 0s;	
}
.card._active{
	transform: translate(0px,0px);
	opacity: 1;
}
.card-text h4{
	font-family: 'Century Gothic';
	padding: 10px;
	font-size: 120%;
	font-weight: 600;
}
.card-img-conteiner{	
	display: flex;
	justify-content: center;
	align-items: center;
}
.card-text{	
	flex-basis: 70%;	
}

@media (max-width: 1000px){		
	.cards{
		flex-direction: column;
	}
	.card{
		flex-direction: row;
		width: 100%;
		margin-left: 0;
		margin:3px 0;			
	}
	.card-img{
		max-width: 300px;
	}
	.card-text{	
		flex-basis: auto;
		padding:20px;	
	}
}
@media (max-width: 650px){
	.card{flex-direction: column;}
	.card-img{
		width: 100%;
		max-width: 600px;
	}
}

/*SECTION PORTFOLIO*/

.portfolio{
    background-color: #a8d3ed;   
}
.portfolio h4{
	font-family: 'Century Gothic';
	text-align: center;	
	text-transform: none;
}
.text-portfolio{
	display: flex;
	flex-flow: column;
	align-items: center;
}
.projects{
	display: flex;
	flex-flow:row wrap;
	width: 100%;
	padding:20px 0; 	
}
.project{
	width: 32%;
	margin: 2px;
	position: relative;
	overflow: hidden;
}
.project-text{
	position: absolute;
	opacity: 0;
	transition: all 0.8s ease;
	background-color: rgba(0,0,0,0.8);
	display: flex;
	align-items: center;	
	width: 100%;
	height: 100%;
	justify-content: center;
	color: white;
	font-size: 150%;
	padding: 25px;
	text-align: center;

}
.project:hover .project-text{
	opacity:1;	
}
.portfolio-btn{
	display: block;
	background: transparent;
	border:1px solid black;	
	color:black;
	transition: all 0.8s ease;
	margin-bottom: 20px;
}
.portfolio-btn:hover{
	background: #e31f1b;
	border:1px solid #e31f1b;	
	color:white;
}
@media (max-width: 768px){
	.projects{
		flex-direction: column;
	}
	.project{
		width: 100%;
		padding:0;
	}
}



/*SECTION SERVICES*/

.services{
	background-color: #edeeef;
}
.boxes{
	display: flex;
	flex-flow: row nowrap;
	margin-top:20px; 
}
.box{
	display: flex;
	flex:1 1 30%;
	flex-flow: column;
	background-color: white;
	margin: 2px;
	padding: 30px 20px;
	text-align:justify;
	align-items: center;
	transform: translate(-120%,0px);
	opacity: 0;
	transition: all 0.8s ease;
}
.box._active{
	transform: translate(0px,0px);
	opacity: 1;
}
.box:first-child{
	margin-left: 0;
}
.box:last-child{
	margin-right: 0;
}
.box-image-container{
	background-color: black;
	border-radius: 50%;
	width: 90px;
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;	
}
.box h4{
	text-align: center;
	font-family: 'Century Gothic';
	padding: 20px 0 10px 0;
}
.box h3{
margin-top: auto;
font-size: 2em;
padding-top: 20px;
}
.box p{
	padding: 10px;
}
.box-image{
	height:45px;
}
.box-image-container:hover, .box-image._active{
	animation-name: swing;
	animation-duration: 1.5s;
	animation-iteration-count:1;
}
.box-image._active{
	animation-delay: 0.6s;
}

@keyframes swing { 
  	20% { transform: rotate(15deg); } 
  	40% { transform: rotate(-10deg); } 
  	60% { transform: rotate(5deg); } 
  	80% { transform: rotate(-5deg); } 
  	100% { transform: rotate(0deg); } 
} 
.price{
	color:#8dbedb; 
}
h4.work-title{
	text-align: right;
	padding:20px;
	font-size: 2em;
	opacity: 1;
	transform: translate(0px,0px);
}
.work{
	margin-top: 3vh;
}
.accordeon{	

	width: 100%;
	background-color: #a8d3ed;
	padding-bottom:20px;
}
h4.accordeon-header{
	text-align: right;
	display: block;
	font-family: 'Impact';
	text-transform:uppercase;
	font-size: 1.2em;
	padding: 10px 15px;
	color:black;
}
.accordeon-header:hover,.accordeon-header.in{
	background-color:black ;
	color:white;
}
.accordeon-header i{
	padding-left: 15px;
	font-size: 100%;
}
.accordeon-content{
	display: none;
	background-color:white;	
	padding: 2vh;
	margin: 10px;	
}
.accordeon-content.in{
	display:flex;
}
.accordeon-content-container{
	display: flex;
	flex-flow: row nowrap;
	align-items:  center;
}
.accordeon-number{	
	padding: 10px;
}
.factors{
	margin-top: 30px;	
	padding:30px 0;
}
.factors ul{
	list-style-type: disc; 
	padding: 15px  0 15px 20px ;
}
@media (max-width: 768px){
	.boxes{
		flex-flow: column;
	}
	.accordeon{
		padding-bottom: 0;
	}
	.work-image{
		display: none;
	}
}

/*SECTION FEEDBACK*/

.feedback{
	min-height: 30vh;
	background-color: black;
}
.feedback-container{
	display: flex;
	flex-flow: row;
	background-color: black;
	padding: 25px 0 25px 25px;
}
.feedback h2{
	padding: 30px 0;
	font-size: 2em;
	text-align: left;
}
.feedback-text-container{
	display: flex;
	flex-flow: column;
	color:white;	
	background-color: black;
	padding: 0 4vw 0 0;
	width: 50%;	
}
.arrow{
	font-size: 3em;
	padding: 25px 0;
}
.feedback-form-container{
	background-color: #edeeef;
	border-radius:10px;
	padding: 20px;	
	width: 50%;
	min-width: 40vw;
}
.feedback-form{
	display: flex;
	flex-flow: column nowrap;	
}
.btn-submit-container{
	text-align: center;	
	margin-top:15px; ;
}
@media (max-width: 768px){
	.arrow{
		display: none;
	}
	.feedback-container{
		flex-flow: column;
		padding: 10px;
	}
	.feedback-text-container,.feedback-form-container{
		width: 100%;
		padding-bottom: 10px;
	}	
}

/*ANIMATE*/





/*FOOTER*/
.contacts{
	display: flex;
	flex-flow: row wrap;
	padding: 20px 0;
	margin:5px 0;
	justify-content: space-between;
	border-top:1px solid white;
	border-bottom:1px solid white; 
}
.contacts a{
	transition: all 0.5s ease;
}
.contacts a:hover{
	color:#8dbedb;
}
.contacts-title{
	margin-bottom: 15px;
	color:#8dbedb;
	font-size: 1.2em;
}
.telephones,.mail{
	display: flex;
	flex-flow: column;
	flex:1 1 25%;
}
.socicons{
	display: flex;
	flex-flow: column;	
	flex:1 1 50%;	
}
.icons{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}
.icon{
	color:white;
	font-size: 2.5em;
	margin:0 10px;	
}
.icon:last-child{
	margin-right: 0;
}
.copyright{
	font-size: 0.9em;
	padding-bottom: 5px;
}
@media (max-width: 1200px){
	.telephones,.mail{
		flex:1 1 50%;
	}
	.socicons{
		flex:1 1 100%;
		text-align: left;
		margin-top: 15px;		
	}
	.socicons .contacts-title{
		margin-bottom: 0;
	}			
	.icons{
		justify-content: flex-start;
	}
}
@media (max-width: 768px){
	.contacts{		
		font-size: 110%;
		padding: 0;
	}
	.contacts-title{
		margin-top: 15px;
		margin-bottom: 5px;
	}
	.socicons .contacts-title{
		margin: 0;
	}	
}




/*POPUP*/

#popup,#popup-2{
	z-index: 3;
}
.popup{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.8s ease 0s;
}
.popup.open{
	opacity: 1;
	visibility: visible;	
}
.popup.open .popup__content{
	transform: translate(0px, 0px);
	opacity: 1;
}
.popup__area{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
.popup__body{
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
}
.popup__content{
	width:100%;
	max-width: 500px;
	background-color:black;
	color:white;
	padding: 20px;
	border-radius: 10px;
	position: relative;
	opacity: 0;
	transform: translate(0px, -100%);
	transition: all 0.8s ease 0s;
}
.popup__close{
	display: block;
	float: right;
	width: 30px;
	height: 30px;
	background-color: white;
	position: relative;
	border-radius: 50%;
	transition: 1s;
	margin-top: -15px;
	margin-right: -15px;
}
.popup__close span,.popup__close span::before{
	position: absolute;
	width: 20px;
	height: 2px;
	background-color: #7a7a7a;
	top: 50%;
	margin-top:-1px;
	left: 50%;	
	margin-left:-10px;
	display: block;	
	transform: rotate(45deg);
}
.popup__close span::before{
	content: '';
	display: block;
	transition: 0.5s;
	transform: rotate(90deg);
}
.popup__close:hover{
	transform: rotate(360deg);
}
.popup__title{
	margin-top: 2em;
	margin-bottom: 2em;
	font-size: 1.2em;
	text-align: center;
}
.popup-image-container{
	width: 100%;
	display: flex;
	flex-flow: row nowrap;	
	align-items: center;
	padding:40px;
	justify-content: space-between;
}
.popup-image-fon{
	display: flex;
	justify-content: center;
	align-items: center;
}
.animation{
	width: 90%;
}
.popup-image{
	color:white;
	font-size:7em;
	animation-name: tada;
	animation-duration: 1.3s;
	animation-iteration-count:infinite;
}
@keyframes tada{
  	0% {transform: scale(1);} 
  	10%, 20% {transform: scale(0.9) rotate(-6deg);} 
  	30%, 50%, 70%, 90% {transform: scale(1.1) rotate(6deg);} 
  	40%, 60%, 80% {transform: scale(1.1) rotate(-6deg);} 
  	100% {transform: scale(1) rotate(0);} 
}
.popup-image-text{
	color:white;
	display: flex;	
	text-align: right;
	font-size: 2em;
}



/*ring*/

.ring{	
	position:fixed;
	bottom:20px;
	right:0;
	z-index: 1;
}
.img-circle{
	background-color:#e31f1b;
	box-sizing:content-box;
	-webkit-box-sizing:content-box;
}
.circlephone{
	box-sizing:content-box;-webkit-box-sizing:content-box;
	border: 2px solid #e31f1b;
	width:150px;
	height:150px;
	bottom:-25px;
	right:10px;
	position:absolute;-webkit-border-radius:100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-animation: circle-anim 2.4s infinite ease-in-out !important;
	-moz-animation: circle-anim 2.4s infinite ease-in-out !important;
	-ms-animation: circle-anim 2.4s infinite ease-in-out !important;
	-o-animation: circle-anim 2.4s infinite ease-in-out !important;
	animation: circle-anim 2.4s infinite ease-in-out !important;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;transition: all 0.5s;
}
.circle-fill{
	box-sizing:content-box;
	-webkit-box-sizing:content-box;
	background-color:#e31f1b;
	width:100px;
	height:100px;
	bottom:0px;
	right:35px;
	position:absolute;
	webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	border: 2px solid transparent;
	-webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;
	-moz-animation: circle-fill-anim 2.3s infinite ease-in-out;
	-ms-animation: circle-fill-anim 2.3s infinite ease-in-out;
	-o-animation: circle-fill-anim 2.3s infinite ease-in-out;
	animation: circle-fill-anim 2.3s infinite ease-in-out;
	-webkit-transition: all .5s;-moz-transition: all .5s;
	-o-transition: all .5s;transition: all 0.5s;
}
.img-circle{
	box-sizing:content-box;
	-webkit-box-sizing:content-box;
	width:72px;
	height:72px;
	bottom: 14px;
	right: 49px;
	position:absolute;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	border: 2px solid transparent;
}
.img-circleblock{
	box-sizing:content-box;
	-webkit-box-sizing:content-box;
	width:72px;
	height:72px;
	background-image:url(../img/phone.png);
	background-position: center center;
	background-repeat:no-repeat;
	animation-name: tossing;
	-webkit-animation-name: tossing;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}
@keyframes pulse {0% {transform: scale(0.9);opacity: 1;}
  50% {transform: scale(1); opacity: 1; }   
  100% {transform: scale(0.9);opacity: 1;}}
@-webkit-keyframes pulse {0% {-webkit-transform: scale(0.95);opacity: 1;}
  50% {-webkit-transform: scale(1);opacity: 1;}   
  100% {-webkit-transform: scale(0.95);opacity: 1;}}
@keyframes tossing {
  0% {transform: rotate(-8deg);}
  50% {transform: rotate(8deg);}
  100% {transform: rotate(-8deg);}}
@-webkit-keyframes tossing {
  0% {-webkit-transform: rotate(-8deg);}
  50% {-webkit-transform: rotate(8deg);}
  100% {-webkit-transform: rotate(-8deg);}}
@-moz-keyframes circle-anim {
  0% {-moz-transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;-moz-opacity: .1;-webkit-opacity: .1;-o-opacity: .1;}
  30% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;-moz-opacity: .5;-webkit-opacity: .5;-o-opacity: .5;}
  100% {-moz-transform: rotate(0deg) scale(1) skew(1deg);opacity: .6;-moz-opacity: .6;-webkit-opacity: .6;-o-opacity: .1;}}
@-webkit-keyframes circle-anim {
  0% {-webkit-transform: rotate(0deg) scale(0.5) skew(1deg);-webkit-opacity: .1;}
  30% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);-webkit-opacity: .5;}
  100% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);-webkit-opacity: .1;}}
@-o-keyframes circle-anim {
  0% {-o-transform: rotate(0deg) kscale(0.5) skew(1deg);-o-opacity: .1;}
  30% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);-o-opacity: .5;}
  100% {-o-transform: rotate(0deg) scale(1) skew(1deg);-o-opacity: .1;}}
@keyframes circle-anim {
  0% {transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;}
  30% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;}
  100% {transform: rotate(0deg) scale(1) skew(1deg);
opacity: .1;}}
@-moz-keyframes circle-fill-anim {
  0% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {-moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);opacity: .2;}
  100% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-webkit-keyframes circle-fill-anim {
  0% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;  }
  50% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;  }
  100% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-o-keyframes circle-fill-anim {
  0% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {-o-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
  100% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@keyframes circle-fill-anim {
  0% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
  100% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}


















